.menu {
  color: #7c8287;
  margin-bottom: -6px;
}
.micons {
  color: #0ba8c7;
  margin-left: -35px;
  background-color: #abb0ac;
}

.app-i {
  margin: auto;
  padding: auto;
  color: #abb0ac;
  background-color: #c1c1c1;
}

.app-i:hover {
  color: #069ab6;
  font-size: 20px;
}
