.product-wrapper {
  text-align: center;
  width: 10%;
  border: 1px solid black;
  background-color: gray;
}

img{
    width:80%
}

p{
    padding : 5% !important;
    &:hover{
        color: white;
    }
}