.product-wrapper {
  text-align: center;
  width: 10%;
  float:left;
  margin: 1% calc(90%/32);
}

img{
    width:80%;
    margin: 10% !important;
}

p{
    padding : 5% !important;
    &:hover{
        color: lightblue;
    }
}