@import '../../styles/variables';

.product-wrapper {
  text-align: center;
  width: 10%;
  float:left;
  margin: 1% calc(90%/32);
  
}

.product-image{
    width:80%;
    margin: 10% !important;
}

.product-name{
    padding : 5% !important;
    &:hover{
        color: $secondary-color;
    }
}