@import '../../styles/_variables';

.title-text{
    width: 300px;
    position: absolute;
    font-size: 36px;
    color: $primary-color;
    margin-top: 50px;
    margin-left:100px ;
    padding-left: 100px;
}
.desc-text{
     width: 250px;
     position: absolute;
    font-size: 16px;
    color: $primary-color;
    margin-top: 180px;
    margin-left: 85px;
      padding-top: 400px;
     padding-left: 100px;
     text-align: start;
}
.image-tab{
    margin: 0 auto;
}