.app-footer {
  background-color: #4f565d;
  bottom: 0px;
  height: 174px;
  margin: 0px 20px 0px;
  display: block;
}
.about {
  display: flex;
  color: white;
  border-right: none;
  margin-right: 0;
  padding-right: 0;
  padding-top: 80px;
  padding-left: 150px;
}
.links {
  margin-left: 15px;
  padding-left: 45px;
  font-size: 13px;
}
a {
  color: white;
  text-decoration: none;
  list-style-type: none;
}
a:hover {
  color: #afb2b3;
}

.changCountry {
  display: flex;
  margin-left: 500px;
  margin-top: -20px;
}
.changCountrys {
  color: white;
  text-decoration: none;
  list-style-type: none;
  margin-top: 12px;
  margin-left: 10px;
}

.img {
  height: 40px;
  width: 40px;
}
